<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Accidents</title>
  <th:block th:include="blocks/css :: head"/>
</head>
<body>
<div class="container">
  <th:block th:include="blocks/navbutton :: div"/>
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название Происшествия</th>
        <th scope="col">Описание</th>
        <th scope="col">Адресс</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="accidend: ${accidents}">
        <td th:text="${accidend.id}"/>
        <td th:text="${accidend.name}"/>
        <td th:text="${accidend.text}"/>
        <td th:text="${accidend.address}"/>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>