<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Accidents</title>
  <th:block th:include="blocks/css :: head"/>
</head>
<body>
  <div class="container">
    <th:block th:include="blocks/nav :: div"/>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Имя</th>
          <th scope="col">Описание</th>
          <th scope="col">Адрес</th>
          <th scope="col">Тип</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="acc:${accidents}">
          <th scope="row" th:text="${acc.id}"></th>
          <td th:text="${acc.name}"></td>
          <td th:text="${acc.text}"></td>
          <td th:text="${acc.address}"></td>
          <td th:text="${acc.type.name}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>